#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@font-face {
  font-family:Lexan;
  src: url('../public/fonts/LexendGiga-Medium.ttf');
  font-weight: 400;
}
@font-face {
  font-family:Lexan;
  src: url('../public/fonts/LexendGiga-Bold.ttf');
  font-weight: 800;
}
@font-face {
  font-family:Lexan;
  src: url('../public/fonts/LexendGiga-ExtraBold.ttf');
  font-weight: 900;
}
@font-face {
  font-family:Lexan;
  src: url('../public/fonts/LexendGiga-Regular.ttf');
  font-weight: 300;
}
@font-face {
  font-family:Lexan;
  src: url('../public/fonts/LexendGiga-Black.ttf');
  font-weight: 200;
}
@font-face {
  font-family:Lexan;
  src: url('../public/fonts/LexendGiga-Black.ttf');
  font-weight: 200;
}
@font-face {
  font-family:Lexan;
  src: url('../public/fonts/LexendGiga-Thin.ttf');
  font-weight: 100;
}
@font-face {
  font-family:Lexan;
  src: url('../public/fonts/LexendGiga-ExtraLight.ttf');
  font-weight: 50;
}
.landing-container {
  font-family: 'Lexan', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
/* // Styles for header element */
header {
   font-family: 'Lexan', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  gap: 0.5rem;
  margin-bottom: 30PX;
  padding: 10PX;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  

header a:hover {
  transform: translateY(-1px);
  transition: 0.2s;
}
}
/* end header */
/* ImageList{
  padding: 10px;
} */
.simpleImgs {
  border-radius: 12px;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.storeImgs{
  border-radius: 12px;
  width: 100%;
  cursor: pointer;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;

}
.storeImgs:hover {
  transform: translateY(-5px) !important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
  /* margin-top: 3px; */
}
.simpleImgs:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}